# ── Twitch чат ────────────────────────────────────────────────────────────────
TWITCH_CHANNEL=Offiners
TWITCH_BOT_USERNAME=hivs_
TWITCH_BOT_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxxxxx

# ── Twitch API (нужно только если хочешь баны) ────────────────────────────────
TWITCH_CLIENT_ID=gp762nuuoqcoxypju8c569th9wz7q5
TWITCH_BROADCASTER_ID=31890287
TWITCH_MODERATOR_ID=1191645481
TWITCH_API_TOKEN=jo4yxg9l505jt5bud74mf522zefcqc

# ── StreamElements (нужно для очков) ─────────────────────────────────────────
# JWT токен: streamelements.com → Account → App Access Token
SE_JWT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxx
# ID канала SE: streamelements.com → Dashboard → URL содержит твой ID
SE_CHANNEL_ID=xxxxxxxxxxxxxxxxxxxxxxx

# Порт (render.com подставит сам)
PORT=3000
